# Frontend Environment Template
VITE_GEMINI_API_KEY="AIzaSyDriE-0hSBbt9kI8pLrn6ALNvi87Th1qHg"
VITE_FIREBASE_API_KEY="AIzaSyBkwx8DjFM3s686yZJ-OikXNwSnBVi55e4"
VITE_FIREBASE_AUTH_DOMAIN="pasumai-kaval.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="pasumai-kaval"
VITE_FIREBASE_STORAGE_BUCKET="pasumai-kaval.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID= "511963786881"
VITE_FIREBASE_APP_ID="1:511963786881:web:be6abc6718261d336a2780"
VITE_API_URL=http://localhost:5001
